# Core functionality - changes here should be rare!
/src/app.py                   @myyxl
/src/backend/database.py      @myyxl
/src/backend/routers/auth.py  @myyxl

# The frontend will need refactored soon to be more object oriented.
/src/static/   @myyxl
